/* This is CSS style sheet code for SHOP webpage
My name is Jasmeen Arora, Date: October,10,2023 */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  position: relative;
  text-align: center;
  color:white;
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80PX;
  font-family: 'Lucida Sans', sans-serif;
  background-color:tomato;
}
.text-block {
  position: absolute;
  top: 70px;
  right: 75px;
  background-color:whitesmoke;
  color:black;
  padding-left: 20px;
  padding-right: 20px;
}
hr.gradient {
  height: 3px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 11%,
    rgba(6, 84, 170, 1) 31%,
    rgba(0, 255, 113, 1) 100%
  );
}
.allColumns{
  float: left;
  width: 33.33%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
    .allColumns {
      width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.header {
	padding-top: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:coral;
}

li {
  float:left;
  margin-left: 90px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:skyblue}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.button {
 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  margin-left: 50%;
  margin-top: 10%;
  cursor: pointer;
  background-color:orangered;
}


.footer {
   position:relative;
   margin-right: 50px;
   margin-top: 150px;
   padding: 20px 15%;
   display: flex;
   bottom: 0;
   width: 100%;
   background-color:bisque;
   color: white;
   text-align:left;
   left:0;
}
.footer div{
  text-align: center;
}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  overflow: hidden;
  text-align: center;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.zoom {
  padding: 50px;
  background-color:none;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin-left: 0%;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}